WCF/Basics of WFC for .net 3.5 Samples/Chapter_2/Sample_7/Client/Service References/Learning_WCF/WCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Service" elementFormDefault="qualified" targetNamespace="http://Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/WCF?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="tns:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="SendResult" nillable="true" type="q1:MessageCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>