WCF/Basics of WFC for .net 3.5 Samples/Chapter_2/Sample_6/Client/Service References/Learning_WCF/WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Service" elementFormDefault="qualified" targetNamespace="http://Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="tns:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="HelloMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HelloMessage" nillable="true" type="tns:HelloMessage" />
  <xs:complexType name="ByMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Message">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ByMessage" nillable="true" type="tns:ByMessage" />
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>