WCF/Basics of WFC for .net 3.5 Samples/Chapter_5/Sample_6/Client/Service References/Learning_WCF/Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Responce">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberOfCalls" type="xs:int" />
      <xs:element minOccurs="0" name="ServerThread" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Responce" nillable="true" type="tns:Responce" />
</xs:schema>